<div class="product-page">
  <h1>Factory</h1>
  <promo-by-customer/>

<!--  <div *ngIf="appConfigService.isCocaCola()">PROMO visible solo coca cola</div> <-&#45;&#45;&#45;&#45;&#45;&#45; no hacerlo así usar un componente-->
<!--  <div *ngIf="appConfigService.isFanta()">PROMO visible solo </div> <-&#45;&#45;&#45;&#45;&#45;&#45; no hacerlo así usar un componente-->

  <div *ngFor="let product of products">
    <div class="product-card">
      <h2>{{product.name}}</h2>
      <p>Tamaño: {{product.size}}</p>
      <p>Precio: {{product.price | currency:'EUR'}}</p>
      <img src="assets/images/{{product.image}}" style="width: 300px; display: block; margin:30px 0" alt="Descripción de la imagen">
      <button (click)="addToCart(product)">Añadir al Carrito</button>
    </div>
  </div>
</div>
